---
import { cn } from "@/lib/utils";
const { class: className } = Astro.props;
---

<div
  class={cn(
    "mx-auto grid max-w-7xl grid-cols-1 gap-6 md:auto-rows-auto md:grid-cols-3 p-4",
    className
  )}
>
  <slot />
</div>
