---
import { cn } from "@/lib/utils";
const { class: className, id, ...rest } = Astro.props;
---

<section
  id={id}
  class={cn("max-w-7xl mx-auto py-5 w-full px-0 md:px-5", className)}
  {...rest}
>
  <slot />
</section>
